
adbc_driver_postgresql==1.5.0
adbc_driver_sqlite==1.5.0
AppKit==0.2.8
argcomplete==3.6.1
attr==0.3.2
BeautifulSoup==3.2.2
boto3==1.37.22
botocore==1.37.22
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
cffi==1.17.1
checks==0.2
ConfigParser==7.2.0
contextlib2==21.6.0
cycler==0.12.1
Cython==3.0.12
dask==2025.3.0
docutils==0.21.2
exceptiongroup==1.2.2
fastparquet==2024.11.0
filelock==3.18.0
Foundation==0.1.0a0.dev1
fsspec==2025.3.0
h2==4.2.0
html5lib==1.1
HTMLParser==0.0.2
httpretty==1.1.4
hypothesis==6.130.5
importlib_metadata==8.0.0
ipython==8.32.0
ipython==8.12.3
ipywidgets==8.1.5
Jinja2==3.1.6
jnius==1.1.0
js==1.0
keyring==25.6.0
lockfile==0.12.2
lxml_html_clean==0.4.1
MarkupSafe==3.0.2
matplotlib==3.10.1
mock==5.2.0
mtrand==0.1
mypy==1.15.0
numexpr==2.10.2
odfpy==1.4.1
olefile==0.47
pexpect==4.9.0
pickle5==0.0.12
plotly==6.0.1
pocketsphinx==5.0.4
psutil==6.1.1
pyaudio==0.2.14
pygame==2.6.1
PyInstaller==6.12.0
pyodide==0.0.2
pyOpenSSL==25.0.0
PyQt4==4.11.4
PyQt6==6.8.1
PySide6==6.8.3
python_bcrypt==0.3.2
python_calamine==0.3.1
pywin32==308
pywin32==310
pyxlsb==1.0.10
PyYAML==6.0.2
PyYAML==6.0.2
qtpy==2.4.3
railroad==0.5.0
redis==5.2.1
s3fs==2025.3.0
scikit_learn==1.6.1
scipy==1.15.2
scipy_doctest==1.6
sets==0.3.2
setuptools==75.8.0
simpleaudio==1.0.4
simplejson==3.20.1
soundfile==0.13.1
Sphinx==8.2.3
SQLAlchemy==2.0.40
tables==3.10.2
tensorflow==2.19.0
thread==2.0.5
threadpoolctl==3.6.0
torch==2.6.0
tornado==6.4.2
traitlets==5.14.3
Twisted==24.11.0
urllib3_secure_extra==0.1.0
vosk==0.3.45
whisper==1.1.10
xarray==2025.3.0
xlrd==2.0.1
xmlrpclib==1.0.1
zope==5.13
zstandard==0.23.0
